[submodule "engine/3rdparty/SDL"]
	path = engine/3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/3rdparty/bgfx"]
	path = engine/3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
