[submodule "engine/3rdparty/SDL"]
	path = engine/3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/3rdparty/imgui"]
	path = engine/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/3rdparty/implot"]
	path = engine/3rdparty/implot
	url = https://github.com/epezent/implot.git
[submodule "engine/3rdparty/xxHash"]
	path = engine/3rdparty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "engine/3rdparty/entt"]
	path = engine/3rdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/3rdparty/rapidjson"]
	path = engine/3rdparty/rapidjson
	url = git@github.com:ohms83/rapidjson.git
